.input {
  width: 240px;
  height: 60px;
  padding-left: 30px;
  padding-right: 30px;

  background: rgba(0, 0, 0, 0.75);
  border-radius: 30px;
  border: none;

  font-weight: 700;
  font-size: 14px;
  line-height: 60px;   // like height of button
  color: #FFFFFF;
  
  transition: 0.3s;
}

.input::placeholder {
  color: #FFFFFF;
}

.input:focus {
  outline: none;
  background: rgba(0, 0, 0, 1);
}

.button {
  height: 60px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 30px;
  border: none;

  font-weight: 800;
  font-size: 14px;
  line-height: 60px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #00C470;

  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background: #00b064;
}

.button:focus {
  outline: none;
  background: #009856;
}