.footer {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #1A1A1A;
  color: #fff;
}

.footer__row {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__nav {
  margin-right: 40px;
}

.footer__nav-item {
  margin-right: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  transition: 0.3s;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    color:  #00C470;
  }
}

.footer__social {
  display: flex;
}

.footer__social-item {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 30px;

  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: rgba(196, 196, 196, 0.1);

  transition: 0.3s;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    background:   #00C470;
  }
}

.footer__copyright {
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
}

.footer__copyright p + p {
  margin-top: 15px;
}